<div class="header">
    <h3>Recibos de Clientes</h3>
</div>
<div class="div-card margin-left">
    <h4 class="title">Parametros del Reporte</h4>
</div>
<div class="detail margin-left">
    <div>
        <mat-form-field>
            <mat-label>Sucursal</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="margin-left-2">
            <mat-label>Estatus</mat-label>
            <mat-select>
                <mat-option value="1">Registrado</mat-option>
                <mat-option value="2">Posteado</mat-option>
                <mat-option value="2">Anulado</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Tipo Documento</mat-label>
            <mat-select>
                <mat-option value="RC">Recibos Pago</mat-option>
                <mat-option value="RO">Recibos Otros</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="margin-left-2">
            <mat-label>Fecha Inicial</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="margin-left-2">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Vendedor</mat-label>
            <input type="text" placeholder="Eligen un Vendedor" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="margin-left-2">
            <mat-label>Tipo Reporte</mat-label>
            <mat-select value="1">
                <mat-option value="1">1.Por Numero de Documento</mat-option>
                <mat-option value="2">2.Por Tipo de Documento</mat-option>
                <mat-option value="3">3.Por Fecha</mat-option>
                <mat-option value="4">4.Por Usuario</mat-option>
                <mat-option value="5">5.Por Cobrador</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Moneda</mat-label>
            <mat-select>
                <mat-option value="RD">RD$</mat-option>
                <mat-option value="US">US$</mat-option>
                <mat-option value="EU">EUR$</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<br>
<div class="margin-left">
    <button class="blue-color btn" mat-button (click)="ShowMessage('Generar PDF')">Generar PDF</button>
    <button class="margin-left blue-color btn" mat-button (click)="ShowMessage('Generar Excel')">Generar Excel</button>
    <button class="margin-left gris-color btn" mat-button (click)="ShowMessage('Cancelar')">Cancelar</button>
</div>